<div>
  <h1>Tu perfil (sin datos sensibles)</h1>
  <p>Nombre: {{user.name}}</p>
  <p>Correo: {{user.email}}</p>
  {{#if user.age }}
  <p>Edad: {{user.age}}</p>
  {{/if}}
  <p>Rol: {{user.role}}</p>
  <a href="/api/sessions/logout"><button>Salir</button></a>
  <a href="/products"><button>Products</button></a>
</div>