node_modules
/clase27/entregable/.env.development
/clase27/entregable/.env.production

/clase32/entregable/.env.development
/clase32/entregable/.env.production

/clase34/entregable/.env.development
/clase34/entregable/.env.production

/clase37/terceraPracticaIntegradora/.env.production
/clase37/terceraPracticaIntegradora/.env.development

.env.development
.env.production
.env.test

pnpm-lock.yaml
package-lock.json

clase42/primer-proyecto-nest/dist

# compiled output
clase42/primer-proyecto-nest//dist
clase42/primer-proyecto-nest//node_modules
clase42/primer-proyecto-nest//build

# Logs
clase42/primer-proyecto-nest/logs
clase42/primer-proyecto-nest/*.log
clase42/primer-proyecto-nest/npm-debug.log*
clase42/primer-proyecto-nest/pnpm-debug.log*
clase42/primer-proyecto-nest/yarn-debug.log*
clase42/primer-proyecto-nest/yarn-error.log*
clase42/primer-proyecto-nest/lerna-debug.log*

# OS
clase42/primer-proyecto-nest/.DS_Store

# Tests
clase42/primer-proyecto-nest/coverage
clase42/primer-proyecto-nest/.nyc_output

# IDEs and editors
clase42/primer-proyecto-nest/.idea
clase42/primer-proyecto-nest/.project
clase42/primer-proyecto-nest/.classpath
clase42/primer-proyecto-nest/.c9/
clase42/primer-proyecto-nest/*.launch
clase42/primer-proyecto-nest/.settings/
clase42/primer-proyecto-nest/*.sublime-workspace

# IDE - VSCode
clase42/primer-proyecto-nest/.vscode/*
clase42/primer-proyecto-nest/!.vscode/settings.json
clase42/primer-proyecto-nest/!.vscode/tasks.json
clase42/primer-proyecto-nest/!.vscode/launch.json
clase42/primer-proyecto-nest/!.vscode/extensions.json

# dotenv environment variable files
clase42/primer-proyecto-nest/.env
clase42/primer-proyecto-nest/.env.development.local
clase42/primer-proyecto-nest/.env.test.local
clase42/primer-proyecto-nest/.env.production.local
clase42/primer-proyecto-nest/.env.local

# temp directory
clase42/primer-proyecto-nest/.temp
clase42/primer-proyecto-nest/.tmp

# Runtime data
clase42/primer-proyecto-nest/pids
clase42/primer-proyecto-nest/*.pid
clase42/primer-proyecto-nest/*.seed
clase42/primer-proyecto-nest/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
clase42/primer-proyecto-nest/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json



# compiled output
clase43/nest-mongodb/dist
clase43/nest-mongodb/node_modules
clase43/nest-mongodb/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
clase43/nest-mongodb/coverage
clase43/nest-mongodb/.nyc_output

# IDEs and editors
clase43/nest-mongodb/.idea
clase43/nest-mongodb/.project
clase43/nest-mongodb/.classpath
clase43/nest-mongodb/.c9/
clase43/nest-mongodb/*.launch
clase43/nest-mongodb/.settings/
/clase43/nest-mongodb*.sublime-workspace

# IDE - VSCode
clase43/nest-mongodb/.vscode/*
clase43/nest-mongodb/!.vscode/settings.json
clase43/nest-mongodb/!.vscode/tasks.json
clase43/nest-mongodb/!.vscode/launch.json
clase43/nest-mongodb/!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

coverage