<div>
	<h1>Login</h1>
	<form action="" id="loginForm">
		<label for="">Email</label>
		<input type="email" name="email" />
		<hr />
		<label for="">Contraseña</label>
		<input type="password" name="password" />
		<hr />
		<button type="submit">Login</button>
	</form>
	<p>No estás registrado? <a href="/register">Ingresa aquí</a></p>
</div>

<script src="/js/login.js"></script>