<div>
	<h1>Registro</h1>
	<form action="" id="registerForm">
		<label for="">Nombre</label>
		<input type="text" name="first_name"/>
		<hr />
		<label for="">Apellido</label>
		<input type="text" name="last_name"/>
		<hr />
		<label for="">Email</label>
		<input type="email" name="email"/>
		<hr />
		<label for="">Edad</label>
		<input type="number" name="age"/>
		<hr />
		<label for="">Contraseña</label>
		<input type="password" name="password"/>
		<hr />
		<button type="submit">Registrar</button>
	</form>
	<p>Ya tienes cuenta? <a href="/login">Ingresa aquí</a></p>
</div>

<script src="/js/register.js"></script>