
body {
    background-color: bisque;
    height: 100%;
}

.container { 
    height: 100%;
}
#chat-box {
    margin-top: 30px;
    padding-top: 25px;
    border: 1px solid grey;
    height:80%;
    width: 40%;
    overflow-y: auto;
}

#message-logs {
    list-style-type: none;
    padding: 2px 4px;
    /* overflow-y: scroll; */
}

#message-logs > li {
    padding: .5rem 1rem;
    color: black;
}

#message-logs>li:nth-child(odd){
    background-color: grey;
    color: black;
}


@media (  width < 1000px) {
  #chat-box{
    width: 80%;
  }      
}
